
    <button class="btn btn-success"
            (click)="download()">
        <span class="fa fa-download"></span>
        Download {{currStatus || currStatus.percentage || currStatus.percentage==-1 ? '' : (currStatus.percentage+'%')}}
    </button>
<app-progressBarConfigurable *ngIf="currStatus.status==2"
                             [type]="2"
                             [debugmode]="false"
                             [color]="'determinate'"
                             [value]="currStatus.percentage" ></app-progressBarConfigurable>


