
<div class="modal-content border border-secondary border-2">
    <!--Header-->
    <div class="modal-header" style="padding:0;border-bottom:0px;">
        <div class="alert alert-danger alert-dismissible fade show" style="width:100%;">
            <h5 class="modal-title center-value">ERROR</h5>
            <strong  class="center-value">{{inpVal.title}}</strong>
            <button type="button" class="close" data-dismiss="modal" style="margin: unset;" (click)="closeModal()">&times;</button>
        </div>
    </div>
    <!--Body-->
    <div class="modal-body">
        <h6 class="center-value">hai preso un errore</h6>
        <p class="text-secondary" style="margin-left: -10px;" [innerHTML]="inpVal.text"></p>

    </div>

    <div class="modal-footer" style="padding:0;border-bottom:0px;">
        <div class="alert alert-danger " style="width:100%;margin: 0;text-align: right;">
            <button class="btn btn-danger" data-dismiss="modal" type="button" (click)="closeModal()">
                Cancel
            </button>
        </div>

    </div>
</div>

