<style type="text/css">
    * {
        --primary-color-kendo-lotto: #ff6358 !important;
    }

    .modal-header, .close {
        background-color: var(--primary-color-kendo-lotto);
        border-color: var(--primary-color-kendo-lotto);
        text-shadow: none;
    }

    .border-2 {
        border-width: 2px !important;
        border-color: black;
    }
</style>
<!-- Modal: modalPoll -->
<div kendoButton class="modal-content border border-secondary border-2">
    <!--Header-->
    <div class="modal-header ">
        <p class="h1 col-xs-1 center-block">Aggiungi sito</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span class="fa fa-times-circle"></span>
        </button>
    </div>
    <!--Body-->
    <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <blockquote class="blockquote text-center">
                <p class="mb-0">In questa Pagina puoi aggiungere un nuovo url da controllare e impostare la notifica </p>
                <br />
                <br />
                <dl class="row text-left">
                    <!--text-left-->
                    <dd class="col-sm-3"><cite title="Source Title">Aggiungi l'url</cite></dd>
                    <dd class="col-sm-2"></dd>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <input type="url" formControlName="url" class="form-control" (change)="onControl()" [ngClass]="{ 'is-invalid':f.url.dirty && f.url.errors }" />
                            <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                                <div *ngIf="f.url.errors.required">l'url è essenziale</div>
                            </div>
                        </div>
                    </dd>

                    <dd class="col-sm-3"><cite title="Source Title">Email a cui notificare</cite></dd>
                    <dd class="col-sm-2"></dd>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <input type="text"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid':f.email.dirty &&  f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Il l'email è obligatoria</div>
                                <div *ngIf="f.email.errors.email">Il l'email è obligatoria</div>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">Insserisci l'Email a cui notificare</small>

                        </div>
                    </dd>
                    <dd class="col-sm-3"><cite title="Source Title">Ogni quanto controllare </cite></dd>
                    <dd class="col-sm-2">(ore)</dd>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <input type="number" min="12" formControlName="ore" class="form-control" [ngClass]="{ 'is-invalid':f.ore.dirty &&  f.ore.errors }" />
                            <div *ngIf="submitted && f.ore.errors" class="invalid-feedback">
                                <div *ngIf="f.ore.errors.required">Il numero di ore è obligatorio</div>
                            </div>
                            <small id="HHHelp" class="form-text text-muted">Ogni quanto verrà effettuato il controllo del sito in questione (in ore)</small>
                        </div>
                    </dd>
                    <dd class="col-sm-3"><cite title="Source Title">effettuare il controllo nel tag </cite></dd>
                    <dd class="col-sm-2">(opzionale)</dd>
                    <dd class="col-sm-7">
                        <div class="form-group">
                            <input type="text" formControlName="tag" class="form-control"  />
 
                            <small id="emailHelp" class="form-text text-muted">Tag da controllare (opzionale)< body > < / body > </small>
                        </div>
                    </dd>

                </dl>
                <button class="btn btn-primary mr-1">Register</button>

            </blockquote>
        </form>
    </div>

    <div class="modal-footer justify-content-rigth">
        <span type="button" class="btn btn-success " data-dismiss="modal" (click)="saveData()">
            <span class="fa fa-save"></span>
            Salva
        </span>
        <span type="button" class="btn btn-primary " data-dismiss="modal" (click)="onReset()">
            <i class="fa fa-trash-o"></i>
            Reset
        </span>
        <span type="button" class="btn btn-secondary " data-dismiss="modal" (click)="closeModal()">
            <span class="fa fa-times"></span>
            Chiudi
        </span>
    </div>
</div>
<div *ngIf="loading!=2" class="k-i-loading"></div>
