.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ball-Green {
    background: radial-gradient(circle at 55% 55%, #97d59e 20px, #97d59e 3%, #2b7d10 50%, #4e9e5f 100%);
}
.ball-Jolly {
    background: radial-gradient(circle at 55% 55%, #00441c 30px, #00441c 3%, #279205 60%, #000000 100%);
}
.ball-Superstar {
    background: radial-gradient(circle at 55% 55%, #00441c 30px, #00441c 3%, #279205 60%, #000000 100%);
}

.text {
    background: white;
    border-radius: 50%;
}

    .text:before {
        content: attr(data-content);
        display: block;
        position: absolute;
        text-align: center;
        height: 25px;
        /* width: 40px; */
        left: -30px;
        top: 75px;
        color: black;
        font-family: Arial;
        font-size: 55px;
        transform: translateX(58px) translateY(-60px) skewX(-2deg) skewY(9deg);
    }

.stage {
    width: 50px;
    height: 100px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.shadow {
    position: absolute;
    width: 100px;
    height: 150px;
    top: -120px;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}
