<section *ngIf="debugmode" class="example-section">
    <label class="example-margin">Progress Value:</label>

    <mat-slider class="example-margin"
                [disabled]="false"
                [invert]="false"
                [max]="100"
                [min]="0"
                [step]="1"
                [thumbLabel]="false"
                [tickInterval]="false"
                [value]="value"
                [vertical]="false"
                (change)="onSliderChange($event)">
    </mat-slider>
    <label class="example-margin">Progress ValueBuffer:</label>

    <mat-slider class="example-margin"
                [disabled]="false"
                [invert]="false"
                [max]="100"
                [min]="0"
                [step]="1"
                [thumbLabel]="false"
                [tickInterval]="false"
                [value]="bufferValue"
                [vertical]="false"
                (change)="onSliderChangebuffer($event)">
    </mat-slider>
</section>

<section *ngIf="type==1 || type==-1" class="example-section">
    <mat-progress-bar class="progress-bar progress-bar-striped progress-bar-animated"
                      style="width: 100%;height: 25px;top: 0;left: 0;"
                      [color]="color"
                      [mode]="mode"
                      [value]="value"
                      [bufferValue]="bufferValue">
        <span class="centered" text>{{value}}%</span>
    </mat-progress-bar>
</section>

<div *ngIf="type==2 || type==-1">
    <div class="cover-spin">
    </div>
    <div class="decorateProgressBar">
        <mat-progress-spinner style="width: 100px;height: 100px;position: absolute;top: 0;left: 0;"
                              [color]="color"
                              [mode]="'determinate'"
                              [value]="value">
        </mat-progress-spinner>
        <h2 *ngIf="value==-1">Elaborazione in corso...</h2>
        <h2 *ngIf="value>=0">{{value}}%</h2>
    </div>
</div>
<div *ngIf="type==3 || type==-1" class="containerDef" style="width: 80%; height: 50px; display: flex;">
    <mat-progress-bar style="width: 100%;height: 50px;position: absolute;top: 0;left: 0;"
                      [color]="color"
                      [mode]="mode"
                      [value]="value"
                      [bufferValue]="bufferValue">
    </mat-progress-bar>
    <span class="centered" text>{{value}}%</span>
</div>

