<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Luca Bigoni</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                 [ngClass]="{ show: isExpanded }">
                <ul class="nav nav-tabs">
                    <li class="nav-item"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/testModali']">Modal Test</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Simulator
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [routerLinkActive]="['link-active']">
                            <a class="nav-item dropdown-item" [routerLink]="['/simulator/fiscal-code']">Fiscal Code</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-item dropdown-item" [routerLink]="['/storico-lotto']">in progres..</a>
                            <a class="nav-item dropdown-item" href="#">in progres..</a>
                        </div>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/storico-lotto']">Lotto History</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/confronto-siti']">Web Site Comparer</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
