<style type="text/css">
    * {
        --primary-color-kendo-lotto: #ff6358 !important;
    }

    .modal-header, .close {
        background-color: var(--primary-color-kendo-lotto);
        border-color: var(--primary-color-kendo-lotto);
        text-shadow: none;
    }

    .border-2 {
        border-width: 2px !important;
        border-color: black;
    }
</style>
<!-- Modal: modalPoll -->
<div kendoButton class="modal-content border border-secondary border-2">
    <!--Header-->
    <div class="modal-header">
        <p class="h1 col-xs-1 center-block">Riasunti estrazione</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span class="fa fa-times-circle"></span>
        </button>
    </div>
    <!--Body-->
    <div class="modal-body">
        <div class="containerImg">
            <img [src]="'assets/Images/superenaredribbon.png'" alt="SuperEnalotto" style="width:100%; height:75px">
            <div class="centered">Alcune statistiche sul Superenalotto</div>
        </div>
        <hr>
        <!-- Radio -->
        <h5 class="text-center">
            <strong>Statistiche Vincite Papporto palle numero uscite </strong>
        </h5>
        
        <button kendoButton class="dropdown-toggle btn-sm" data-toggle="dropdown" style="margin-left: 10px;" aria-haspopup="true" aria-expanded="false" [primary]="true" (click)="exportSvgChart(graficoPalleNumeroUscite,'palleTotaleUscite')" >
            <fa name="cog" animation="spin" style="margin-right: 9px;"> </fa>
            Export as SVG
        </button>
        <button kendoButton class="dropdown-toggle btn-sm" data-toggle="dropdown" style="margin-left: 10px;" aria-haspopup="true" aria-expanded="false" [primary]="true" (click)="exportPdfChart(graficoPalleNumeroUscite,'palleTotaleUscite')" >
            <fa name="cog" animation="spin" style="margin-right: 9px;"> </fa>
            Export as PDF
        </button>
        <button kendoButton class="dropdown-toggle btn-sm" data-toggle="dropdown" style="margin-left: 10px;" aria-haspopup="true" aria-expanded="false" [primary]="true" (click)="exportImgChart(graficoPalleNumeroUscite,'palleTotaleUscite')" >
            <fa name="cog" animation="spin" style="margin-right: 9px;"> </fa>
            Export as IMG
        </button>
        <kendo-chart #graficoPalleNumeroUscite [title]="{ text: 'Per ogni palla, il numero di volte che è uscita' }">
            <kendo-chart-series>
                <kendo-chart-series-item type="radarLine"
                                         name="Per ogni palla, il numero di volte che è uscita"
                                         [data]="viewBalls.Data" field="value1" categoryField="field">
                </kendo-chart-series-item>
            </kendo-chart-series>
            <kendo-chart-value-axis>
                <kendo-chart-value-axis-item [labels]="{ format: 'n0' }" [min]="+viewBalls.Min" [max]="+viewBalls.Max">
                </kendo-chart-value-axis-item>
            </kendo-chart-value-axis>
            <kendo-chart-legend position="bottom"></kendo-chart-legend>
        </kendo-chart>
        <br />
    </div>



    <div class="modal-footer justify-content-rigth">


        <span type="button" class="btn btn-secondary " data-dismiss="modal" (click)="closeModal()">
            <span class="fa fa-times"></span>
            Chiudi
        </span>
    </div>
</div>
<div *ngIf="loading!=2" class="k-i-loading"></div>
