<style type="text/css">
    * {
        --primary-color-kendo-lotto: #ff6358 !important;
    }

    .modal-header, .close {
        background-color: var(--primary-color-kendo-lotto);
        border-color: var(--primary-color-kendo-lotto);
        text-shadow: none;
    }

    .border-2 {
        border-width: 2px !important;
        border-color: black;
    }
</style>
<!-- Modal: modalPoll -->
<div kendoButton class="modal-content border border-secondary border-2">
    <!--Header-->
    <div class="modal-header">
        <p class="h1 col-xs-1 center-block">Riasunti estrazione</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span class="fa fa-times-circle"></span>
        </button>
    </div>
    <!--Body-->
    <div class="modal-body">
        <div class="containerImg">
            <img [src]="'assets/Images/superenaredribbon.png'" alt="SuperEnalotto" style="width:100%; height:75px">
            <div class="centered">Alcune statistiche sul Superenalotto</div>
        </div>
        <hr>
        <!-- Radio -->
        <h5 class="text-center">
            <strong>Statistiche Vincite</strong>
        </h5>
        <kendo-chart [title]="{ text: 'Market Value of Major Banks /bln/' }">
            <kendo-chart-series>
                <kendo-chart-series-item type="radarLine"
                                         name="Market value as of 2009"
                                         [data]="banksData" field="post" categoryField="name">
                </kendo-chart-series-item>
            </kendo-chart-series>
            <kendo-chart-value-axis>
                <kendo-chart-value-axis-item [labels]="{ format: 'C0' }">
                </kendo-chart-value-axis-item>
            </kendo-chart-value-axis>
            <kendo-chart-legend position="bottom"></kendo-chart-legend>
        </kendo-chart>
        <br />



    </div>



    <div class="modal-footer justify-content-rigth">

        <app-downloadAndMadeExcel [urlApi]="urlApi" [fileName]="'dati_Quotazioni N'+inDataItem.nEstrazione+' del '+inDataItem.data" [id]="inDataItem.id"></app-downloadAndMadeExcel>

        <span type="button" class="btn btn-secondary " data-dismiss="modal" (click)="closeModal()">
            <span class="fa fa-times"></span>
            Chiudi
        </span>
    </div>
</div>
<div *ngIf="loading" class="k-i-loading"></div>
