<h1>Home</h1>
<p>Benvenuto nel mio piccolo sito </p>
<p>Questo sito è nato ai tempi della quarantena causata dal Virus Covid - 19 un pò per studiare nuove tecniche nel tempo libero, un pò per unificare i miei studi in un qualcosa di costruttivo </p>
<p>
    La Solution di questo sito è disponibile sul seguente Repository  <a href='https://github.com/lucabigoni1992/batchLottoDownload'>Repository</a>
    La Solution è suddivisa nei seguenti progetti
</p>
<ul>
    <li>
        <strong>LbExcel</strong>
        <p>Libreria di per la creazione e lettura di file Excel creata con il Framework <a href="https://docs.microsoft.com/it-it/dotnet/standard/net-standard">.NET Standard2.0 </a></p>
    </li>
    <li>
        <strong>TestLibrerie</strong>
        <p>Progetto di test delle librerie presenti nella cartella "Librerie generiche" creata con il Framework <a href='https://get.asp.net/'>ASP.NET Core</a></p>
    </li>
    <li>
        <strong>libraryLotto</strong>
        <p>Libreria di per la gestione del carimanto e la fruizione di dati relativi al SuperEnalotto <a href="https://docs.microsoft.com/it-it/dotnet/standard/net-standard">.NET Standard2.0 </a></p>
    </li>
    <li>
        <strong>LottoUnitTest</strong>
        <p>Progetto di test delle librerie presenti nella cartella "Librerie generiche" creata con il Framework <a href='https://get.asp.net/'>ASP.NET Core</a></p>
    </li>
    <li>
        <strong>SitoLotto</strong>
        <p>Progeto che contiene i sorgentidel sito in questione creata con il Framework <a href='https://get.asp.net/'>ASP.NET Core</a></p>
    </li>
</ul>
<p>
    Tecnologie e Framework Utilizzati
</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>documentformat.openxml
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml'>OpenXml</a> Per leggere e scrivere file Excell</li>
    <li><a href='https://www.telerik.com/kendo-angular-ui'>Kendo</a>  </li>
</ul>
