<h1>Home</h1>
<p>Welcome to my little website </p>
<p>
    This site was designed and built during the March 2020 quarantine caused by the Covid - 19 virus.
    the initial idea was to create an environment on which to test new technologies, in free time (which was abundant at that time).
    Now it has also become a practical site where I have developed useful tools, such as the comparison of web pages.
</p>
<p>
    The Solution of this site is available on the following GIT Repository <a href='https://github.com/lucabigoni1992/batchLottoDownload'>Repository</a>
    The Solution has the following projects and libraries
</p>
<ul>
    <li>
        <strong>LbExcel</strong>
        <p>Library for creating and reading Excel files created with the Framework <a href="https://docs.microsoft.com/it-it/dotnet/standard/net-standard">.NET Standard2.0 </a></p>
    </li>
    <li>
        <strong>TestLibrerie</strong>
        <p>Test project of the libraries present in the "Generic libraries" folder created with the Framework<a href='https://get.asp.net/'>ASP.NET Core</a></p>
    </li>
    <li>
        <strong>libraryLotto</strong>
        <p>Library for managing the loading and use of data relating to SuperEnalotto<a href="https://docs.microsoft.com/it-it/dotnet/standard/net-standard">.NET Standard2.0 </a></p>
    </li>
    <li>
        <strong>LottoUnitTest</strong>
        <p>Test project of the libraries present in the "Generic libraries" folder created with the Framework <a href='https://get.asp.net/'>ASP.NET Core</a></p>
    </li>
    <li>
        <strong>SitoLotto</strong>
        <p>Project containing the sources of the site in question created with the Framework<a href='https://get.asp.net/'>ASP.NET Core</a></p>
    </li>
</ul>
<p>
    Technologies and frameworks used
</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>documentformat.openxml
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml'>OpenXml</a>To read and write Excel files</li>
    <li><a href='https://www.telerik.com/kendo-angular-ui'>Kendo</a> For User Interface  </li>
    <li><a href='https://www.nuget.org/packages/DiffPlex/'>DiffPlex</a>To compare find differences between strings and files  </li>
    <li><a href='https://github.com/fluentscheduler'>FluentScheduler</a> For scheduling asynchronous tasks </li>
</ul>
