<h1>Gioco del Super EnalottoLotto</h1>

<p>Benvenuto nella pagina dove potrai vedere lo storico dell'estrazioni dell'lotto.</p>

<h1>{{title}}</h1>
<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>

<div class="example-config">
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="allowUnsort"
               [(ngModel)]="allowUnsort" />
        <label class="k-checkbox-label" for="allowUnsort">
            {{ allowUnsort ? 'Disable': 'Enable' }} unsorting
        </label>
    </label><br />
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="multiple"
               [(ngModel)]="multiple" />
        <label class="k-checkbox-label" for="multiple">
            {{ multiple ? 'Disable': 'Enable' }} multiple columns sorting
        </label>
    </label>

</div>


<kendo-grid [data]="view | async"
            [height]="410"
            [pageSize]="gridState.take"
            [skip]="gridState.skip"
            [sort]="gridState.sort"
            [pageable]="true"
            [sortable]="true"
            (dataStateChange)="onStateChange($event)">
    <kendo-grid-column *ngFor="let column of columns"
                       field="{{column.field}}"
                       title="{{column.title}}"
                       format="{{column.format}}"
                       filter="{{column.type}}" class="overflow-column">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex" let-columnIndex="columnIndex">

            <div *ngIf="columnIndex==0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <ng-container *ngTemplateOutlet="estimateTemplate; context: { dt: dataItem}">
                </ng-container>
            </ng-template>
            <ng-template #elseBlock>
                <div [ngSwitch]="column.field">
                    <div *ngSwitchCase="'premio6Punti'">
                        <strong>{{dataItem[column.field]}}</strong>
                    </div>
                    <div *ngSwitchDefault>
                        {{dataItem[column.field]}}
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="eng; context: culo"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="svk; context: culo"></ng-container>
<hr>

<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template>


<ng-template kendoGridCellTemplate #estimateTemplate let-dataItem="dt">
    <div class="btn-group dropright position-static">
        <button kendoButton (click)="onButtonClick()" class="dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [primary]="true">
            <span>...{{dataItem.id}}</span>
        </button>
        <div class="dropdown-menu" role="menu">
            <button kendoButton (click)="onButtonClick()" class="dropdown-item">
                <fa name="cog" animation="spin"></fa>
                Numeri usciti
            </button>
            <button kendoButton (click)="onButtonClick()" class="dropdown-item">
                <fa name="cog" animation="spin"></fa>
            </button>

            <button kendoButton (click)="onButtonClick()" class="dropdown-item"></button>
            <div class="dropdown-divider"></div>
            <button kendoButton (click)="onButtonClick()" class="dropdown-item">
                <fa name="cog" animation="spin"></fa>
                test3
            </button>
        </div>
    </div>
</ng-template>
