<style type="text/css">

    /**mi sono divertito a sovrascrivere i colori del bootstrap per questo ho fatto così
        la soluzione migliore era mettere le variabili e le parti usate in tutto il sito in un file e metterlo nella root cosa che farà nelle prossime pagine
    */
    /*bootstrap*/


    * {
        --primary-color-kendo-lotto: #ff6358 !important;
        --event-color-kendo-lotto: #ff6358 !important;
        --active-color-kendo-lotto: #c32727 !important;
    }

    .dropdown-item-primary {
        background-color: var(--primary-color-kendo-lotto);
        border-color: var(--primary-color-kendo-lotto);
    }

    .dropdown-item:hover, .dropdown-item:active {
        background-color: var(--event-color-kendo-lotto);
        border-color: var(--event-color-kendo-lotto);
    }

    .dropdown-item.active {
        background-color: var(--active-color-kendo-lotto);
        border-color: var(--active-color-kendo-lotto);
    }


    /*kendo*/
    .grid-wrapper {
        position: relative;
    }

    .k-i-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 64px;
        background-color: rgba(255,255,255,.3);
        color: #ff6757;
    }
</style>

<h1>Gioco del Super EnalottoLotto</h1>

<p>Benvenuto nella pagina dove potrai vedere lo storico dell'estrazioni dell'lotto.</p>

<h1>{{title}}</h1>
<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>

<div class="example-config">
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="allowUnsort"
               [(ngModel)]="allowUnsort" />
        <label class="k-checkbox-label" for="allowUnsort">
            {{ allowUnsort ? 'Disable': 'Enable' }} unsorting
        </label>
    </label><br />
    <label class="k-form-field">
        <input class="k-checkbox" type="checkbox" id="multiple"
               [(ngModel)]="multiple" />
        <label class="k-checkbox-label" for="multiple">
            {{ multiple ? 'Disable': 'Enable' }} multiple columns sorting
        </label>
    </label>

</div>


<kendo-grid [data]="view | async"
            [pageSize]="gridState.take"
            [skip]="gridState.skip"
            [sort]="gridState.sort"
            [pageable]="pageable"
            [sortable]="true"
            (dataStateChange)="onStateChange($event)">
    <kendo-grid-column *ngFor="let column of columns"
                       field="{{column.field}}"
                       title="{{column.title}}"
                       format="{{column.format}}"
                       filter="{{column.type}}"
                       width="{{column.width}}" class="overflow-column">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex" let-columnIndex="columnIndex">

            <div *ngIf="columnIndex==0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <ng-container *ngTemplateOutlet="estimateTemplate; context: { dt: dataItem}">
                </ng-container>
            </ng-template>
            <ng-template #elseBlock>
                <div [ngSwitch]="column.field">
                    <div *ngSwitchCase="'premio6Punti'">
                        <strong>{{dataItem.premio6Punti}}</strong>
                    </div>
                    <div *ngSwitchCase="'nEstrazione'">
                        <strong>{{dataItem.nEstrazione}}</strong>
                    </div>
                    <div *ngSwitchDefault>
                        {{dataItem[column.field]}}
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
<div *ngIf="view.loading" class="k-i-loading"></div>


<ng-template kendoGridCellTemplate #estimateTemplate id="estimateTemplate" let-dataItem="dt">
    <div class="btn-group dropright position-static">
        <button kendoButton (click)="onButtonClick()" class="dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [primary]="true">
            <span>...</span>
        </button>
        <div class="dropdown-menu" role="menu">
            <span class="dropdown-item active border border-secondary rounded" style="margin-top: -8px;">
                Menu Estrazione {{dataItem.nEstrazione}}
            </span>
            <button (click)="modaleNumeri(dataItem)" class="dropdown-item">
                <fa name="angle-right"></fa>
                Numeri usciti
            </button>
            <button (click)="modaleVincite(content)" class="dropdown-item">
                <fa name="angle-right"></fa>
                Dati delle Vincite
            </button>
            <div class="dropdown-divider"></div>
            <button (click)="onButtonClick()" class="dropdown-item">
                <fa name="cog" animation="spin" style="    margin-left: -9px;"></fa>
                {{dataItem.nEstrazione}} Tutti i dati
            </button>
        </div>
    </div>
</ng-template>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;{{ataItem.id}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>



