<h1>Gioco del Lotto</h1>

<p>Benvenuto nella pagina dove potrai vedere lo storico dell'estrazioni dell'lotto.</p>

<h1>{{title}}</h1>
<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>

<div class="example-config">
  <label class="k-form-field">
    <input class="k-checkbox" type="checkbox" id="allowUnsort"
           [(ngModel)]="allowUnsort" />
    <label class="k-checkbox-label" for="allowUnsort">
      {{ allowUnsort ? 'Disable': 'Enable' }} unsorting
    </label>
  </label><br />
  <label class="k-form-field">
    <input class="k-checkbox" type="checkbox" id="multiple"
           [(ngModel)]="multiple" />
    <label class="k-checkbox-label" for="multiple">
      {{ multiple ? 'Disable': 'Enable' }} multiple columns sorting
    </label>
  </label>

</div>
<div kendo-grid k-options="gridOptions"></div>
<div ng-app="app" ng-controller="MyCtrl">
  <div kendo-grid k-options="gridOptions"></div>
</div>
<script>
  angular.module("app", ["kendo.directives"]).controller("MyCtrl", function ($scope, $http) {
    $scope.gridOptions = {
      columns: [{ field: "ProductID" }, { field: "ProductName" }],
      pageable: true,
      dataSource: {
        pageSize: 5,
        transport: {
          read: function (e) {
            $http.jsonp('https://demos.telerik.com/kendo-ui/service/Products?callback=JSON_CALLBACK')
              .then(function success(response) {
                e.success(response.data)
              }, function error(response) {
                alert('something went wrong')
                console.log(response);
              })
          }
        }
      }
    }
  });
</script>
